#mars {
    position: absolute;
    border: 2px solid;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
}

.buttonContainer{
    position:absolute;
     top: 40%;
     left: 140px;
     width:150px;
 }
 .buttuon{
     float:left;
 }